.box {
  margin: 0 auto;
  text-align: center;
  font-size: 16em;
  color: #212121;
  position: relative;
  max-height: 700px;
}
.title{
  position: absolute;
  margin: auto;
}
img{
  width: 1920px;
  height: 1200px;
}